/* BEGIN COLORS */
$white: #FFF;
$black: #000;
$orange: #ffce28;
$navy: #2e5170;
$darknavy: #0b1928;
$aqua: #49adb6;
$darkblue: #2c4f93;
$gray: #b3b2b2;
$lightgray: #f5f5f5;
$darkgray: #a4a4a4;
/* END COLORS */