/* BEGIN CONTENT */
.section--content {
  text-align: left;

  p a,
  a {
    color: $orange;
  }

  a.btn-dark {
    color: $white;

    &:hover {
      color: $navy;
    }
  }

  .alignleft,
  .alignright {
    margin: 20px 0 0 0;

    @include tablet-xl-min {
      margin-top: 30px;
    }
  }
}
/* END CONTENT */

/* BEGIN SINGLE-POST */
.single-post .section--content {

  .container {

    p:first-of-type {
      font-weight: 700;
    }

    @include tablet-sm-min {
      margin: 0 auto;
      width: 720px;
    }

    @include tablet-l-min {
      width: 780px;
    }

    @include desktop-xs-min {
      width: 750px;
    }
  }
}
/* END SINGLE-POST */

/* BEGIN WP-DISCUZ */
#wc-comment-header,
#wc_show_hide_loggedin_username,
#wpcomm {
  max-width: 100%;
}
/* END WP-DISCUZ */