/* BEGIN SITE-HEADER */
.site-header {
  background-image: url('assets/img/bg-header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* END SITE-HEADER */