/* BEGIN TITLE */
.section--title {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $darknavy;
    opacity: 0.6;
  }

  .container {

    @include tablet-sm-min {
      margin: 0 auto;
      width: 720px;
    }

    @include tablet-l-min {
      width: 780px;
    }

    @include desktop-xs-min {
      width: 750px;
    }
  }
}
/* END TITLE */